@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: 400;
  src: url('/NeueHaasDisplayRoman.ttf') format('woff2');
}

/* html {
  font-family: "Haas", system-ui, sans-serif; letter-spacing: 1px;
} */

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *::-webkit-scrollbar {
  
} */

/* override */
.stat {
  border-left-width: 0!important;
}
:where(.stats) > :not([hidden]) ~ :not([hidden]) {
  border-left-width: 0!important;
}
.btn {
  box-shadow: none;
}
.btn-primary {
  color: #000;
}
img {
  height: 100%;
}
/* .artboard.phone-1 {height: 100%} */

/* custom */
.h-screen-custom {
  height: calc(100dvh - 63px);
}
.glow {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.text-shadow {
  text-shadow: #000 1px 0 10px;
}

/* what is this? */
.wildui-modal-container { background-color: rgba(0, 0, 0, 0.5); z-index: 100;}
.wildui-modal-child { width: 480px; }

/* input */
/* Remove default styling for number input */
#wildui-fastpay input[type="number"], #wildpay-withdraw input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%; /* Adjust width as needed */
  padding: 0.5rem; /* Adjust padding as needed */
}

/* Webkit browsers like Chrome and Safari use a different appearance property */
#wildui-fastpay input::-webkit-outer-spin-button,
#wildui-fastpay input::-webkit-inner-spin-button,
#wildui-withdraw input::-webkit-outer-spin-button,
#wildui-withdraw input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in IE 10 and above */
#wildui-fastpay input[type="number"]::-ms-clear,
#wildui-withdraw input[type="number"]::-ms-clear {
  display: none;
}

/* Remove outline on focus for number input */
#wildui-fastpay input[type="number"]:focus,
#wildui-withdraw input[type="number"]:focus {
  outline: none;
}

/* Remove outline on focus for comment textarea input */
textarea {
  resize: none;
}
textarea:focus {
  outline: none;
  outline-width: 0;
}
input:focus {
  outline: none;
  outline-width: 0;
}

.border-b-2 {
  border-bottom-width: 1px;
}

.border-1 {
  border-width: 1px;
}

/* STEPS */

.steps-vertical .step:before { height: 322%!important; }
.steps-vertical .step { grid-template-rows: max-content; }

@media (max-width: 640px) {
  .h-screen-custom {
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .h-screen-custom {
    height: auto !important;
  } 
  .long_form {display: none}
}

@media (min-width: 768px) { 
  .thumbcard {
    width: auto!important;
    height: calc(100dvh - 63px);
  }
 }