@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Haas';
  font-style: normal;
  font-weight: 400;
  src: url('/NeueHaasDisplayRoman.ttf') format('woff2');
}

/* html {
  font-family: "Haas", system-ui, sans-serif; letter-spacing: 1px;
} */

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

/* video feed */
.stat {
  border-left-width: 0!important;
}