.infinite-scroll {
  height: calc(100dvh - 63px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.infinite-scroll-item {
  height: 78dvh;
  scroll-snap-align: start;
  box-sizing: content-box;
}

.video-wrapper {
  /* width: 100%; */
}

/* .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media (max-width: 640px) {

}

@media (min-width: 768px) { 
  
  .infinite-scroll-item {
    height: 88dvh;
  }
  
  .video-wrapper {
    width: 49.4dvh;
  }

}