.w-0 { width: 0px; }
.w-px { width: 1px; }
.w-1 { width: 0.25rem; /* 4px */ }
.w-2 { width: 0.5rem; /* 8px */ }
.w-3 { width: 0.75rem; /* 12px */ }
.w-4 { width: 1rem; /* 16px */ }
.w-5 { width: 1.25rem; /* 20px */ }
.w-6 { width: 1.5rem; /* 24px */ }
.w-7 { width: 1.75rem; /* 28px */ }
.w-8 { width: 2rem; /* 32px */ }
.w-9 { width: 2.25rem; /* 36px */ }
.w-10 { width: 2.5rem; /* 40px */ }
.w-11 { width: 2.75rem; /* 44px */ }
.w-12 { width: 3rem; /* 48px */ }
.w-14 { width: 3.5rem; /* 56px */ }
.w-16 { width: 4rem; /* 64px */ }
.w-20 { width: 5rem; /* 80px */ }
.w-24 { width: 6rem; /* 96px */ }
.w-28 { width: 7rem; /* 112px */ }
.w-32 { width: 8rem; /* 128px */ }
.w-36 { width: 9rem; /* 144px */ }
.w-40 { width: 10rem; /* 160px */ }
.w-44 { width: 11rem; /* 176px */ }
.w-48 { width: 12rem; /* 192px */ }
.w-52 { width: 13rem; /* 208px */ }
.w-56 { width: 14rem; /* 224px */ }
.w-60 { width: 15rem; /* 240px */ }
.w-64 { width: 16rem; /* 256px */ }
.w-72 { width: 18rem; /* 288px */ }
.w-80 { width: 20rem; /* 320px */ }
.w-96 { width: 24rem; /* 384px */ }

.h-0 { height: 0px; }
.h-px { height: 1px; }
.h-1 { height: 0.25rem; /* 4px */ }
.h-2 { height: 0.5rem; /* 8px */ }
.h-3 { height: 0.75rem; /* 12px */ }
.h-4 { height: 1rem; /* 16px */ }
.h-5 { height: 1.25rem; /* 20px */ }
.h-6 { height: 1.5rem; /* 24px */ }
.h-7 { height: 1.75rem; /* 28px */ }
.h-8 { height: 2rem; /* 32px */ }
.h-9 { height: 2.25rem; /* 36px */ }
.h-10 { height: 2.5rem; /* 40px */ }
.h-11 { height: 2.75rem; /* 44px */ }
.h-12 { height: 3rem; /* 48px */ }
.h-14 { height: 3.5rem; /* 56px */ }
.h-16 { height: 4rem; /* 64px */ }
.h-20 { height: 5rem; /* 80px */ }
.h-24 { height: 6rem; /* 96px */ }
.h-28 { height: 7rem; /* 112px */ }
.h-32 { height: 8rem; /* 128px */ }
.h-36 { height: 9rem; /* 144px */ }
.h-40 { height: 10rem; /* 160px */ }
.h-44 { height: 11rem; /* 176px */ }
.h-48 { height: 12rem; /* 192px */ }
.h-52 { height: 13rem; /* 208px */ }
.h-56 { height: 14rem; /* 224px */ }
.h-60 { height: 15rem; /* 240px */ }
.h-64 { height: 16rem; /* 256px */ }
.h-72 { height: 18rem; /* 288px */ }
.h-80 { height: 20rem; /* 320px */ }
.h-96 { height: 24rem; /* 384px */ }

